@font-face {
  font-family: 'Spirax', cursive;
  src:url("/home/nella/Bureau/Exercice/HTML/Projet/Projet_cv/Polices_cv/Spirax/Spirax-Regular.ttf");
}
@@font-face {
  font-family: 'Gupter', serif;
  src: url("/home/nella/Bureau/Exercice/HTML/Projet/Projet_cv/Polices_cv/Gupter/Gupter-Regular.ttf");
}
body{
  display: flex;
  margin: 0%;
  color: white;
}
h1,h2, h3{
  text-align: center;
  font-family: 'Spirax', cursive;
}
li, p, button{
  font-family: 'Gupter', serif;
  text-align: center;
}
button{
  margin: 5%;
}
h1{
  font-size: 3em;
}
.entête{
  position: fixed;/*l'entête- navbar... ne bouge pas*/
  width: 20%;
  background-color: lightgrey;
  padding-bottom: 100%;
  margin: 0%;
}
.entête h2{
  font-size: 1.5em;
  margin-top: 13%;
}
nav{
  margin-top: 18%;
}
#logo img{
  margin: 18%;
  width: 60%;
}
nav img{
  width: 7%;
  margin-left: 8%;
  /*margin-right: 20%;*/
}
nav li{
  font-family: 'Spirax', cursive;
  font-size: 1.5em;
  list-style: none;
  margin: 2%;
}
.gauche{
  width: 80%;
  margin-left:auto;
}
#acceuil{
  background-image: url("Image_cv/fond_acceuil.jpg");
  background-size:cover;
  padding: 16%;
}
#apropos{
  background-image: url("Image_cv/fond_expérience.jpg");
  background-size: cover;
  font-size: 2em;
  padding: 28%;
}
#apropos p{
  font-size: 0.7em;
}
#compétences{
  background-image: url("Image_cv/fond_compétence.png");
  background-size: cover;
  padding: 31%;
}
.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap
}
#expérience{
  background-image: url("Image_cv/fond_expérience.jpg");
  background-size: cover;
  padding: 24%;
}
#hobbies{
  background:lightgrey;
  background-size: cover;
  padding: 33%;
}
.loisirs{
  display: flex;
}
#contact{
  background-image: url("Image_cv/fond_contact.jpg");
  background-size: cover;
  padding: 27%;
}
