container{
  width: 50%;
  }
form{
  width: 7%;
  background: lightgrey;
  border: 30px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px black;
  padding: 1em;
  margin: auto;
}
body{
  text-align: center;
}
h2{
  color: red;
}
p{
  color: pink;
}
